#page-auth {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  height: 100vh;

  main {
    display: flex;
    flex: 8;
    align-items: center;
    justify-content: center;

    padding: 32px;
  }
}

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    align-items: center;
    justify-content: center;

    text-align: center;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 24px;
      margin: 64px 0 24px;

      font-family: 'Poppins', sans-serif;
    }

    p {
      font-size: 14px;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }

  .separator {
    font-size: 14px;
    color: #a8a8b3;
    
    margin: 64px 0 12px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }