#new-room {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 4;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main {
    display: flex;
    flex: 8;
    align-items: center;
    justify-content: center;

    padding: 32px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    align-items: center;
    justify-content: center;

    text-align: center;

    > img {
      align-self: center;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px;
      margin: 8px 0px 32px 0px;

      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);

      h2 {
        margin: 0px 0px 8px;
        font-size: 24px;
        color: #472b9b;
        font-family: "Poppins", sans-serif;
      }

      span {
        color: #a2a2a2;
        font-size: 12px;
      }
    }

    .create-room {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 400px;

      label {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #4c3396;

        input,
        textarea {
          width: 100%;
          height: 50px;
          border-radius: 8px;
          padding: 0px 16px;
          background: #fff;
          font-size: 14px;
          border: 1px solid #c5c5c5;
        }

        textarea {
          height: 120px;
          min-height: 70px;
          max-height: 200px;
          resize: vertical;
          padding: 16px 16px;
        }
      }

      .video-scheduler {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }

      button {
        width: 100%;
      }
    }
  }
}

.go-back {
  background: transparent;
  border: none;

  margin: 32px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
  width: 92%;

  cursor: pointer;

  img {
    height: 20px;
  }

  span { 
    color: #a5a5a5;
    font-size: 12px;
  }
}

.invalid-user {

  img {
    margin: 16px 0px 16px;
    height: 120px;
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
  }
}