#page-rooms-list {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // display: grid;
  // grid-template-columns: 1fr 2fr;
  height: 100vh;
  align-items: stretch;

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-width: 900px;
    margin: 0 auto;
    padding: 32px;

    > button {
      width: 100%;
    }

    > header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 16px;
      margin: 8px 0px 32px 0px;
      width: 100%;

      background: #fff;
      border-radius: 8px;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);

      h2 {
        margin: 0px 0px 8px;
        font-size: 24px;
        color: #472b9b;
        font-family: "Poppins", sans-serif;
      }

      span {
        color: #a2a2a2;
        font-size: 12px;
      }
    }
  }

  .card {
    width: 100%;
    background: #f5efff;
    border-radius: 8px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: 16px;

    font-family: "Poppins";

    &:hover {
      background: #3204ff21;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;

      .title {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 24px;
        }

        .star {
          display: flex;
          align-items: center;

          img {
            margin-right: 8px;
            height: 20px;
          }

          span {
            font-size: 12px;
            color: #ffd000;
          }
        }
      }

      .room-info {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: flex-end;

        span {
          font-size: 12px;
          color: #835AFD;
          margin-bottom: 8px;
        }

        button {
          border: none;
          background: #835afd;
          color: #e7e7e7;
          border-radius: 8px;
          font-size: 14px;
          padding: 6px 20px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);

          cursor: pointer;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }

    .author {
      font-size: 18px;
      color: #585858;
      margin-bottom: 8px;

      .author-name {
        font-style: italic;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      strong {
        color: #757575;
        font-weight: 600;
      }

      .actions {
        button {
          border: none;
          background: none;
          height: 16px;
          width: 16px;

          text-align: right;
          margin-left: 16px;

          cursor: pointer;

          img {
            height: 16px;
            width: 16px;
          }

          &:hover {
            // background: royalblue;
            filter: blur(0.5px);
            filter: opacity(60%);
          }
        }
      }
    }
  }

  .adm {
    box-shadow: 0px 6px 6px rgba(255, 230, 60, 0.2);
    border: 1px solid #c39314;
    background: #ffffef;

    &:hover {
      background: #ffbc0421;
      box-shadow: 0px 6px 6px #ffe63c80;
    }

    header {
      .star {
        span {
          color: #fff;
        }
      }

      .room-info {
        span {
          color: #e4ae19;
        }
        
        button {
          background: #c39314;
        }
      }
    }
  }
}
