#content {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  background: #fff;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 16px 16px 4px 16px;
  margin: 24px;

  font-family: "Poppins", sans-serif;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 12px;
    color: #a3a3a3;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // button {
      //   border: none;
      //   background: none;
      //   color: #E73F5D;
      //   font-size: 16px;

      //   cursor: pointer;
      // }

      span {
        font-size: 10px;
      }

      img {
        height: 24px;
      }
    }
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;
  img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
  }

  h3 {
    font-size: 24px;
  }

  span {
    color: #a3a3a3;
    font-size: 12px;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;

  p {
    font-weight: 500;
    display: flex;
    align-items: center;
    flex: 1;
  }

  span {
    width: 24px;
    text-align: center;
    margin-left: 8px;
  }

  .main-stats {
    display: flex;
    justify-content: space-between;
    
    p {
      font-weight: 600;
      color: #835afd;

      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #835afd;
        margin: 0px 0px 0px 12px;
      }
    }

    span {
      color: #835afd;
      font-weight: 600;
    }
  }

  .sub-stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #7a7a7a;

    p {
      &::after {
        content: "";
        flex: 1;
        height: 1px;
        background: #d1d1d1;
        margin: 0px 0px 0px 12px;
      }
    }
  }
}
